.elementor-12 .elementor-element.elementor-element-7f7154ae.elementor-view-stacked .elementor-icon {
    background-color: #6EC1E4;
}

.elementor-12 .elementor-element.elementor-element-7f7154ae.elementor-view-framed .elementor-icon,
.elementor-12 .elementor-element.elementor-element-7f7154ae.elementor-view-default .elementor-icon {
    fill: #6EC1E4;
    color: #6EC1E4;
    border-color: #6EC1E4;
}

.elementor-12 .elementor-element.elementor-element-7f7154ae {
    --icon-box-icon-margin: 5px;
}

.elementor-12 .elementor-element.elementor-element-7f7154ae .elementor-icon-box-title {
    margin-bottom: 0px;
    color: #6EC1E4;
}

.elementor-12 .elementor-element.elementor-element-7f7154ae>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-12 .elementor-element.elementor-element-60c8451 {
    text-align: center;
}

.elementor-12 .elementor-element.elementor-element-afa6d34 .elementor-heading-title {
    color: #141414;
    font-family: "Roboto", Sans-serif;
    font-weight: 600;
}

.elementor-12 .elementor-element.elementor-element-7643917 .eael-entry-thumbnail {
    padding-bottom: calc(1.55 * 100%);
}

.elementor-12 .elementor-element.elementor-element-7643917 .eael-grid-post-holder {
    background-color: #fff;
}

.elementor-12 .elementor-element.elementor-element-7643917 .eael-entry-title a {
    color: #303133;
}

.elementor-12 .elementor-element.elementor-element-7643917 .eael-entry-title:hover,
.elementor-12 .elementor-element.elementor-element-7643917 .eael-entry-title a:hover {
    color: #23527c;
}

.elementor-12 .elementor-element.elementor-element-7643917 .eael-entry-title,
.elementor-12 .elementor-element.elementor-element-7643917 .eael-entry-title a {
    font-size: 11px;
}

.elementor-12 .elementor-element.elementor-element-7643917 .eael-grid-post .eael-entry-overlay {
    background-color: rgba(0, 0, 0, .75);
}

.elementor-12 .elementor-element.elementor-element-7643917 .eael-grid-post .eael-entry-overlay>i {
    color: #ffffff;
    font-size: 18px;
}

.elementor-12 .elementor-element.elementor-element-7643917 .eael-grid-post .eael-entry-overlay>img {
    height: 18px;
    width: 18px;
}

.elementor-12 .elementor-element.elementor-element-29867f0 .elementor-button {
    background-color: #6EC1E4;
}

.elementor-12 .elementor-element.elementor-element-868fbd5 {
    text-align: center;
}

.elementor-12 .elementor-element.elementor-element-a395b25 .elementor-heading-title {
    color: #141414;
}

.elementor-12 .elementor-element.elementor-element-a631c87 .eael-entry-thumbnail {
    padding-bottom: calc(1.55 * 100%);
}

.elementor-12 .elementor-element.elementor-element-a631c87 .eael-grid-post-holder {
    background-color: #fff;
}

.elementor-12 .elementor-element.elementor-element-a631c87 .eael-entry-title a {
    color: #303133;
}

.elementor-12 .elementor-element.elementor-element-a631c87 .eael-entry-title:hover,
.elementor-12 .elementor-element.elementor-element-a631c87 .eael-entry-title a:hover {
    color: #23527c;
}

.elementor-12 .elementor-element.elementor-element-a631c87 .eael-entry-title,
.elementor-12 .elementor-element.elementor-element-a631c87 .eael-entry-title a {
    font-family: "Roboto", Sans-serif;
    font-size: 11px;
    font-weight: 600;
}

.elementor-12 .elementor-element.elementor-element-a631c87 .eael-grid-post .eael-entry-overlay {
    background-color: rgba(0, 0, 0, .75);
}

.elementor-12 .elementor-element.elementor-element-a631c87 .eael-grid-post .eael-entry-overlay>i {
    color: #ffffff;
    font-size: 18px;
}

.elementor-12 .elementor-element.elementor-element-a631c87 .eael-grid-post .eael-entry-overlay>img {
    height: 18px;
    width: 18px;
}

.elementor-12 .elementor-element.elementor-element-d9885c7 .elementor-button {
    background-color: #6EC1E4;
}

.elementor-12 .elementor-element.elementor-element-adcdcbf {
    text-align: center;
}

.elementor-12 .elementor-element.elementor-element-ef70d4e .elementor-heading-title {
    color: #141414;
}

.elementor-12 .elementor-element.elementor-element-6d7e6a9 .eael-entry-thumbnail {
    padding-bottom: calc(1.55 * 100%);
}

.elementor-12 .elementor-element.elementor-element-6d7e6a9 .eael-grid-post-holder {
    background-color: #fff;
}

.elementor-12 .elementor-element.elementor-element-6d7e6a9 .eael-entry-title a {
    color: #303133;
}

.elementor-12 .elementor-element.elementor-element-6d7e6a9 .eael-entry-title:hover,
.elementor-12 .elementor-element.elementor-element-6d7e6a9 .eael-entry-title a:hover {
    color: #23527c;
}

.elementor-12 .elementor-element.elementor-element-6d7e6a9 .eael-entry-title,
.elementor-12 .elementor-element.elementor-element-6d7e6a9 .eael-entry-title a {
    font-family: "Roboto", Sans-serif;
    font-size: 11px;
    font-weight: 600;
}

.elementor-12 .elementor-element.elementor-element-6d7e6a9 .eael-grid-post .eael-entry-overlay {
    background-color: rgba(0, 0, 0, .75);
}

.elementor-12 .elementor-element.elementor-element-6d7e6a9 .eael-grid-post .eael-entry-overlay>i {
    color: #ffffff;
    font-size: 18px;
}

.elementor-12 .elementor-element.elementor-element-6d7e6a9 .eael-grid-post .eael-entry-overlay>img {
    height: 18px;
    width: 18px;
}

.elementor-12 .elementor-element.elementor-element-f39bf99 .elementor-button {
    background-color: #6EC1E4;
}

.elementor-12 .elementor-element.elementor-element-6b2ab519 {
    color: #FFFFFF;
    font-size: 1px;
}

.elementor-12 .elementor-element.elementor-element-7e8a35c {
    color: #FFFFFF;
    font-size: 1px;
}

@media(min-width:768px) {
    .elementor-12 .elementor-element.elementor-element-4494f32b {
        width: 41.053%;
    }
    .elementor-12 .elementor-element.elementor-element-48c5203a {
        width: 58.947%;
    }
}